<% title = trans.auth.messages.forgot_password.title + ' - ' + companyInfo.NAME %>
<div class="row">
  <div class="col-12">     
    <div class="login-card login-dark">
      <div>
        <a class="logo" href="javascript:;">
          <!--
          <img class="img-fluid for-light m-auto" src="/backend/images/logo/logo1.png" alt="looginpage">
          <img class="img-fluid for-dark" src="/backend/images/logo/logo-dark.png" alt="logo">
          -->
          <h3><%= companyInfo.NAME %></h3>
        </a>
        <div class="login-main"> 
          <form class="theme-form" id="forgotPasswordForm" action="<%- '/admin/forgot-password' %>" method="POST">             
            <h2 class="text-left"><%= trans.auth.messages.forgot_password.heading %></h2>
            <p class="text-left"><%= trans.auth.messages.forgot_password.subheading %></p>

            <%- include('./partials/language-selector') %>

            <div class="form-group">
              <label class="col-form-label"><%= trans.auth.AUTH.fields.email_address %></label>
              <input type="email" class="form-control" id="email" placeholder="<%= trans.global.enter_your +' '+ trans.auth.AUTH.fields.email_address || 'Email Address' %>" name="email" autofocus="off" value="">
            </div> <!-- close form-group -->

            <div class="form-group mb-0 checkbox-checked">
              <button class="btn btn-primary btn-block w-100 mt-3" type="submit">Resend</button>
            </div>

            <p class="mt-4 mb-0 text-center"><%= trans.auth.messages.forgot_password.already_have_an_password %><a class="ms-2" href="<%- '/admin/login' %>"><%= trans.auth.messages.login.btn_title %></a></p>
          </form>
        </div> <!-- login-main -->
      </div> <!-- div after login-card -->
    </div> <!-- login-card -->
  </div> <!-- col-12 -->
</div> <!-- row -->
