<% title = trans.cruds.MODULE.PLATFORM_USER + ' - ' + companyInfo.NAME %>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h2><%= trans.cruds.USER?.platform_user_title?.title %></h2>
            </div>
            <div class="col-sm-6 col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="<%= '/admin/dashboard' %>"><i class="iconly-Home icli svg-color"></i>  <%= trans.global.home %></a></li>
                  <li class="breadcrumb-item"><a href="<%= '/admin/users' %>"><%= trans.cruds.USER?.platform_user_title?.title %></a></li>
                  <li class="breadcrumb-item active"><%= trans.global.list %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        
        <div class="card-header card-no-border d-flex justify-content-between align-items-center">
          <div class="">            
            <h3><%= trans.cruds?.USER?.heading?.platform_user?.user_list || 'cruds.USER.heading.platform_user.user_list' %></h3>
          </div>
          <!-- <% if (userInfo.permissions.includes("create_platform_user")) { %>
            <div class="btn-showcase d-flex justify-content-end">
              <a href="/admin/user/create" title="<%= trans.global.create %>" class="btn btn-pill btn-success" id="btnAddUser"><%= trans.global.create %></a>
            </div>
          <% } %> -->
      </div>
        <div class="card-body pt-0"> 
          <div class="filter-select">
            <label for="filter"><%= trans.cruds.ADDRESS.title_singular %></label>
            <select id="filter" class="form-select select2">
                <option value="" selected><%= trans.global.all %></option>
                <option value="1"><%= trans.cruds.ADDRESS.fields.city %></option>
                <option value="0"><%= trans.cruds.ADDRESS.fields.tier %></option>
            </select>
          </div>        
          <div class="table-responsive theme-scrollbar">
            <table class="table table-lg display usersTable" id=" row_create" style="width:100%">
              <thead>
                  <tr>
                    <th>#</th>
                    <th data-data="first_name"><%= trans.cruds.USER.fields.name %></th>
                    <th data-data="username"><%= trans.cruds.USER.fields.username %></th>
                    <th data-data="email"><%= trans.cruds.USER.fields.email %></th>
                    <th data-data="phone_number"><%= trans.cruds.USER.fields.phone_number %></th>
                    <!-- <th data-data="role"><%= trans.cruds.USER.fields.role %></th> -->
                    <th data-data="status"><%= trans.cruds.USER.fields.status %></th>
                    <th data-data="status"><%= trans.cruds.ADDRESS.fields.city %></th>
                    <th data-data="status"><%= trans.cruds.ADDRESS.fields.tier %></th>
                    <th data-data="createdAt"><%= trans.cruds.USER.fields.createdAt %></th>
                    <% if (userInfo.permissions.includes("view_platform_user") || userInfo.permissions.includes("edit_platform_user") || userInfo.permissions.includes("delete_platform_user")) { %>
                      <th data-data="action"><%= trans.cruds.USER.fields.action %></th>
                    <% } else { %>
                      <th></th>
                    <% } %>
                  </tr>
              </thead>
              <tbody>
                  <!-- Data will be loaded via AJAX -->
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./script') %>