<div class="card-body">
  <div class="row">
      <!-- Category Type -->
      <!-- <div class="col-sm-12 col-md-12 categories-type-div d-none">
        <div class="form-group mb-3">
            <label class="form-label" for="category_type">
                <%= trans.cruds.CATEGORY_TYPE.title_singular %> <span class="text-danger">*</span>
            </label>
            <select class="select2 form-control category_type_id" name="category_type" id="category_type" style="width: 100%;">
                <option value=""><%= trans.messages.please_select %></option>

            </select>
        </div>
      </div> -->

    <!-- English Category Name Input -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group mb-3">
        <label class="form-label" for="category_en">
          <%= trans.cruds.CATEGORY.fields.category %> (English) <span class="text-danger">*</span>
        </label>
        <input class="form-control" type="text" id="category_en" name="category_en"
          value="<%= category?.title?.en || '' %>" placeholder="<%= trans.global.enter_your %> <%= trans.cruds.CATEGORY.fields.category %> (English)">
      </div>
    </div>

    <!-- Arabic Category Name Input -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group mb-3">
        <label class="form-label" for="category_ar">
          <%= trans.cruds.CATEGORY.fields.category %> (Arabic) <span class="text-danger">*</span>
        </label>
        <input class="form-control" type="text" id="category_ar" name="category_ar"
          value="<%= category?.title?.ar || '' %>" placeholder="<%= trans.global.enter_your %> <%= trans.cruds.CATEGORY.fields.category %> (Arabic)">
      </div>
    </div>

    <% if(category.parentId !== null){ %>
      <!-- Parent Category Select -->
      <% if(categories.length > 0) { %>
        <div class="col-sm-6 col-md-6">
          <div class="form-group mb-3">
            <label class="form-label" for="parent_category">
              <%= trans.cruds.CATEGORY.fields.parent_category %>
            </label>
            <select class="select2 form-control" name="parent_category" id="parent_category">
              <option value="">
                <%= trans.messages.please_select %> <%= trans.cruds.CATEGORY.fields.parent_category %>
              </option>
              <% categories.forEach((cat) => { %>
                <% if (category && category._id && cat._id.toString() !== category._id.toString()) { %>
                  <option value="<%= cat._id %>" 
                    <%= category.parentId && category.parentId.toString() === cat._id.toString() ? 'selected' : '' %>>
                    <%= cat.title[lang] %>
                  </option>
                <% } else if (!category._id) { %>
                  <option value="<%= cat._id %>">
                    <%= cat.title[lang] %>
                  </option>
                <% } %>
              <% }) %>              
            </select>
          </div>
        </div>
      <% } %>
    <% } %>

    <!-- Category Image Input -->
    <div class="col-sm-6 col-md-6">
        <div class="d-flex gap-5">
        <div class="flex-grow-1">
            <div class="form-group mb-3">
            <label class="form-label" for="category_image">
                <%= trans.cruds.CATEGORY.fields.category_image || "Category Image" %>
            </label>
            <input
                class="form-control"
                id="category_image"
                type="file"
                name="category_image"
                accept="image/jpeg, image/jpg, image/png, image/gif"
                onchange="previewImage(this, 'category_image_preview')"
            />
            </div>
        </div>
        <img 
            class="img-100" 
            id="category_image_preview" 
            alt="Category Image" 
            src="<%= category.category_image?.file_path ? '/' + category.category_image.file_path.replace('public/', '') : '/backend/images/dummy-image.jpg' %>"/>
        </div>
    </div>
    
    <!-- Category Icon Input -->
    <div class="col-sm-6 col-md-6">
        <div class="d-flex gap-5">
        <div class="flex-grow-1">
            <div class="form-group mb-3">
            <label class="form-label" for="category_icon">
                <%= trans.cruds.CATEGORY.fields.category_icon || "Category Icon" %>
            </label>
            <input
                class="form-control"
                id="category_icon"
                type="file"
                name="category_icon"
                accept="image/jpeg, image/jpg, image/png, image/gif"
                onchange="previewImage(this, 'category_icon_preview')"
            />
            </div>
        </div>
        <img 
            class="img-100" 
            id="category_icon_preview" 
            alt="Category Icon" 
            src="<%= category.category_icon?.file_path ? '/' + category.category_icon.file_path.replace('public/', '') : '/backend/images/dummy-image.jpg' %>"/>
        </div>
    </div>

    <!-- Description (English) -->
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label class="form-label" for="description_en">
          <%= trans.cruds.CATEGORY.fields.description %> (English)
        </label>
        <div class="input-group">
          <!-- <div class="description_editor" id="description_en">
            <%- category?.description?.en || '' %>
          </div> -->
          <textarea class="form-control" name="description_en" id="description_en" rows="3"><%= category?.description?.en || '' %></textarea>
        </div>
      </div>
    </div>

    <!-- Description (Arabic) -->
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label class="form-label" for="description_ar">
          <%= trans.cruds.CATEGORY.fields.description %> (Arabic)
        </label>
        <div class="input-group">
          <!-- <div class="description_editor1" id="description_ar">
            <%- category?.description?.ar || '' %>
          </div> -->
          <textarea class="form-control" name="description_ar" id="description_ar" rows="3"><%= category?.description?.ar || '' %></textarea>
        </div>
      </div>
    </div>

    <!-- Attribute -->
    <!-- <div class="col-sm-12 col-md-12">
        <div class="form-group mb-3">
            <label class="form-label" for="attribute">
                <%= trans.cruds.ATTRIBUTE.title_singular %> <span class="text-danger">*</span>
            </label>
            <select class="select2 form-control attribute_id" name="attribute" id="attribute" style="width: 100%;" multiple>
                <option value=""><%= trans.messages.please_select %></option>
            </select>
        </div>
    </div> -->

  </div>
</div>
