<% title = trans.cruds.CATEGORY.heading.create_category + ' - ' + companyInfo.NAME %>
<link rel="stylesheet" href="/backend/richtexteditor/rte_theme_default.css">
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h2><%= trans.cruds.CATEGORY.form_builder.heading %></h2>
            </div>
            <div class="col-sm-6 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="<%= '/admin/dashboard' %>"><i class="iconly-Home icli svg-color"></i> <%= trans.global.home %></a></li>
                    <li class="breadcrumb-item"><a href="<%= '/admin/categories' %>"><%= trans.cruds.CATEGORY.form_builder.title %></a></li>
                    <li class="breadcrumb-item active li-title"><%= mode == 'edit' ? trans.global.edit : trans.global.create %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="edit-profile">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-no-border pb-0">
                        <h3 class="card-title mb-0"><%= trans.cruds.CATEGORY.form_builder.heading %></h3>
                    </div>
                    <div class="card-body">
                        <div class="drawer-main">
                            <div class="view-box">
                                <input type="hidden" name="categoryId" id="formbuilderCategoryId" value="<%= category._id %>">
                                <ul>
                                    <li>
                                        <div class="form-group mb-2">
                                            <label class="form-label"><%= trans.cruds.CATEGORY.title_singular %> : </label>
                                            <span><%= category.title[lang] %></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group mb-2">
                                            <label class="form-label"><%= trans.cruds.CATEGORY.fields.description %> :</label>
                                            <span><%= category.description[lang] %></span>
                                        </div>
                                    </li>
                                    <div class="form-group">
                                        <label class="form-label"><%= trans.cruds.CATEGORY.fields.status %>:</label>
                                        <span><%= category.status.charAt(0).toUpperCase() + category.status.slice(1).toLowerCase() %></span>
                                    </div>
                                </ul>
                            </div>
                            <div class="darg-box-wrapper">
                                <div class="left-drag-box">
                                    <div class="title-search">
                                        <h4>
                                            <%= trans.cruds.ATTRIBUTE.title_singular +' '+ trans.global.list %>
                                        </h4>
                                        <div class="search-box-wrap">
                                            <input type="text" class="form-control" id="searchInput" placeholder="Search" />
                                        </div>
                                    </div>
                                    <ul class="art-drag-listing attribute-list" id="attrType" data-div-position="left-side">
                                        <li class="data-loader d-none">
                                            <img src="/backend/gif/loader-data.gif">
                                        </li>

                                        <!-- Append Attribute -->
                                    </ul>
                                </div>
                                <div class="right-drag-box">
                                    <div class="title-post text-center w-100">
                                        <h4 class="text-center">
                                            <%= trans.cruds.CATEGORY.form_builder.post_a_project %>
                                        </h4>
                                    </div>
                                    <ul class="art-drag-listing darkdata-box" id="darkDataBox" data-div-position="right-side">
                                        
                                    </ul>
                                    <div class="button-drag-group">
                                        <div class="preview-darg-btn">
                                            <button class="btn btn-info perview-toggle-btn" type="button" disabled><%= trans.global.preview %></button>
                                        </div>
                                        <div class="save-btn">
                                            <button class="btn btn-primary saveSelectedFormBuilder" type="submit" disabled><%= trans.global.save %></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="drawer-container">
                                <div class="perview-form">
                                    <div class="drawer-header">
                                        <h3 class="text-center"><%= trans.cruds.CATEGORY.form_builder.form_preview %></h3>
                                        <div class="close-drawer">
                                            X
                                        </div>
                                    </div>
                                    <div class="main-perview-form-drag">
                                        <div class="perview-form-drag">
                                            <div class="en-drag-perview">
                                                <div class="lang-title-box">
                                                    <%= trans.global.english %>
                                                </div>
        
                                                <div class="form-container-en">
                                                    <!-- append english data -->
                                                </div>        
                                            </div>
        
                                            <div class="ar-drag-perview">
                                                <div class="lang-title-box">
                                                    <%= trans.global.arabic %>
                                                </div>
        
                                                <div class="form-container-ar">
                                                    <!-- append arabic data -->
                                                </div>        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./form-builder-script') %>
 