<div class="card-body">
    <div class="row">

        <!-- Display Name (EN) -->
        <div class="col-sm-6 col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="display_name_en">
                    <%= trans.cruds.SETTING.fields.title %> (EN) <span class="text-danger">*</span>
                </label>
                <input class="form-control" type="text" id="display_name_en" name="display_name_en" value="<%= setting.display_name?.en || '' %>" placeholder="<%= trans.global.enter_your + ' ' + trans.cruds.SETTING.fields.title + ' (EN)' %>">
            </div>
        </div>

        <!-- Display Name (AR) -->
        <div class="col-sm-6 col-md-6">
            <div class="form-group mb-3">
                <label class="form-label" for="display_name_ar">
                    <%= trans.cruds.SETTING.fields.title %> (AR)
                </label>
                <input class="form-control" type="text" id="display_name_ar" name="display_name_ar" value="<%= setting.display_name?.ar || '' %>" placeholder="<%= trans.global.enter_your + ' ' + trans.cruds.SETTING.fields.title + ' (AR)' %>">
            </div>
        </div>

        <input type="hidden" id="setting_type" value="<%= setting.type %>">

        <!-- Type-Based Fields -->
        <% if (setting.type === 'string') { %>
            <!-- Value EN -->
            <div class="col-sm-6 col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="value_en">
                        <%= trans.cruds.SETTING.fields.value %> (EN) <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="text" id="value_en" name="value_en" value="<%= setting.value?.en || '' %>" placeholder="<%= trans.global.enter_your + ' ' + trans.cruds.SETTING.fields.value + ' (EN)' %>">
                </div>
            </div>

            <!-- Value AR -->
            <div class="col-sm-6 col-md-6">
                <div class="form-group mb-3">
                    <label class="form-label" for="value_ar">
                        <%= trans.cruds.SETTING.fields.value %> (AR)
                    </label>
                    <input class="form-control" type="text" id="value_ar" name="value_ar" value="<%= setting.value?.ar || '' %>" placeholder="<%= trans.global.enter_your + ' ' + trans.cruds.SETTING.fields.value + ' (AR)' %>">
                </div>
            </div>
        <% } else if (setting.type === 'text') { %>
            <!-- Text Editor EN -->
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <label class="form-label" for="value_en">
                        <%= trans.cruds.SETTING.fields.content %> (EN) <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                        <div class="description_editor_en" id="value_en"><%- setting.value?.en || '' %></div>
                    </div>
                    <span class="error_editor_column_en text-danger d-none"><%= trans.global.enter_your_some_content %></span>
                </div>
            </div>

            <!-- Text Editor AR -->
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <label class="form-label" for="value_ar">
                        <%= trans.cruds.SETTING.fields.content %> (AR)
                    </label>
                    <div class="input-group">
                        <div class="description_editor_ar" id="value_ar"><%- setting.value?.ar || '' %></div>
                    </div>
                    <span class="error_editor_column_ar text-danger d-none"><%= trans.global.enter_your_some_content %></span>
                </div>
            </div>
        <% } else if (setting.type === 'image') { %>
            <div class="col-sm-6 col-md-6">
                <div class="d-flex gap-3 mb-3 align-items-end">
                    <div class="flex-grow-1">
                        <div class="form-group">
                            <label class="form-label" for="formFile">
                                <%= trans.global.choose_file %> <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" id="formFile" type="file" name="value" accept=".jpeg,.jpg,.png,.gif" onchange="document.getElementById('imagePreview').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                    <img class="img-40" id="imagePreview" alt="" src="<%= (setting && setting.uploads.length > 0 && setting.uploads[0].file_path) ? '/' + setting.uploads[0].file_path : '/backend/images/dummy-image.jpg' %>">
                </div>
            </div>
        <% } %>
    </div>
</div>
