<% title = 'Setting Create - Cheminco' %>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h2>Setting</h2>
            </div>
            <div class="col-sm-6 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="<%= userInfo.role == 'admin' ? '/admin/dashboard' : '/dashboard' %>"><i class="iconly-Home icli svg-color"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="<%= userInfo.role == 'admin' ? '/admin/Settings' : '/Settings' %>">Setting Management</a></li>
                    <li class="breadcrumb-item active"><%= trans.global.create %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="edit-profile">
        <div class="row">
            <div class="col-xl-12">
                <form class="card" id="SettingData" action="<%= userInfo.role == 'admin' ? '/admin/setting/store' : '/setting/store' %>" method="POST" enctype="multipart/form-data">
                    <div class="card-header card-no-border pb-0">
                        <h3 class="card-title mb-0">Create Setting</h3>
                    </div>
                    <!-- <%- include('./_form') %> -->
                    <div class="card-footer text-end">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('./script') %>