<% title = trans.cruds.MODULE.BRAND + ' ' + trans.global.view + ' - ' + companyInfo.NAME %>
<div class="container-fluid">
    <!-- Page Title -->
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h2><%= trans.cruds.MODULE.BRAND %></h2>
            </div>
            <div class="col-sm-6 col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="<%= '/admin/dashboard' %>"><i class="iconly-Home icli svg-color"></i> <%= trans.global.home %></a></li>
                    <li class="breadcrumb-item"><a href="<%= '/admin/brands' %>"><%= trans.cruds.BRAND?.title %></a></li>
                    <li class="breadcrumb-item active"><%= trans.global.view %></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="edit-profile">
        <div class="row">
            <div class="col-xl-12">
                <!-- Card with Brand Details -->
                <div class="card">
                    <div class="card-header card-no-border pb-0">
                        <h3 class="card-title mb-0"><%= trans.cruds.MODULE.BRAND + ' ' + trans.global.view %></h3>
                    </div>
                    <div class="card-body">
                        <!-- Brand Details in Grid Layout -->
                        <div class="row">
                            <!-- Brand Title (English) -->
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group mb-3">
                                    <label class="form-label"><%= trans.cruds.BRAND.fields.title_en %> :</label>
                                    <span><%= brand.title.en %></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label"><%= trans.cruds.BRAND.fields.description_en %>:</label>
                                    <span><%- brand.description.en || trans.global.not_available %></span>
                                </div>
                            </div>

                            <!-- Brand Title (Arabic) -->
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group mb-3">
                                    <label class="form-label"><%= trans.cruds.BRAND.fields.title_ar %> :</label>
                                    <span><%= brand.title.ar %></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label"><%= trans.cruds.BRAND.fields.description_ar %>:</label>
                                    <span><%- brand.description.ar || trans.global.not_available %></span>
                                </div>
                            </div>

                            <!-- Brand Status -->
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group mb-3">
                                    <label class="form-label"><%= trans.cruds.BRAND.fields.status %>:</label>
                                    <span><%= brand.status.charAt(0).toUpperCase() + brand.status.slice(1).toLowerCase() %></span>
                                </div>
                            </div>
                            <!-- Brand Image Input -->
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="brand_image">
                                        <%= trans.cruds.BRAND.fields.brand_image || "Brand Image" %>
                                    </label>
                                    <br>
                                    <img 
                                        class="img-100 show-img-box" 
                                        id="" 
                                        alt="Brand Image" 
                                        src="<%= brand.brand_image?.file_path ? '/' + brand.brand_image.file_path.replace('public/', '') : '/backend/images/dummy-image.jpg' %>"/>
                                </div>
                            </div>
                            
                            <!-- Brand Icon Input -->
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="brand_icon">
                                        <%= trans.cruds.BRAND.fields.brand_icon || "Brand Icon" %>
                                    </label>
                                    <br>
                                    <img 
                                        class="img-100 show-img-box" 
                                        id="" 
                                        alt="Brand Icon" 
                                        src="<%= brand.brand_icon?.file_path ? '/' + brand.brand_icon.file_path.replace('public/', '') : '/backend/images/dummy-image.jpg' %>"/>
                                
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>