<div class="card-body">
  <div class="row">
    <!-- English Category Name Input -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group mb-3">
        <label class="form-label" for="title_en">
          <%= trans.cruds.CATEGORY_TYPE.fields.title_en %><span class="text-danger">*</span>
        </label>
        <input class="form-control" type="text" id="title_en" name="title_en"
          value="<%= category_type?.title?.en || '' %>" placeholder="<%= trans.global.enter_your %> <%= trans.cruds.CATEGORY_TYPE.fields.title_en %>">
      </div>
    </div>

    <!-- Arabic Category Name Input -->
    <div class="col-sm-6 col-md-6">
      <div class="form-group mb-3">
        <label class="form-label" for="title_ar">
          <%= trans.cruds.CATEGORY_TYPE.fields.title_ar %> <span class="text-danger">*</span>
        </label>
        <input class="form-control" type="text" id="title_ar" name="title_ar"
          value="<%= category_type?.title?.ar || '' %>" placeholder="<%= trans.global.enter_your %> <%= trans.cruds.CATEGORY_TYPE.fields.title_ar %>">
      </div>
    </div>

    <!-- Category Image Input -->
    <div class="col-sm-6 col-md-6">
        <div class="d-flex gap-5">
        <div class="flex-grow-1">
            <div class="form-group mb-3">
            <label class="form-label" for="category_type_image">
                <%= trans.cruds.CATEGORY_TYPE.fields.category_type_image || "Category Type Image" %>
            </label>
            <input
                class="form-control"
                id="category_type_image"
                type="file"
                name="category_type_image"
                accept="image/jpeg, image/jpg, image/png, image/gif"
                onchange="previewImage(this, 'category_type_image_preview')"
            />
            </div>
        </div>
        <img 
            class="img-100" 
            id="category_type_image_preview" 
            alt="Category Type Image" 
            src="<%= category_type.category_type_image?.file_path ? '/' + category_type.category_type_image.file_path.replace('public/', '') : '/backend/images/dummy-image.jpg' %>"/>
        </div>
    </div>
    
    <!-- Category Icon Input -->
    <div class="col-sm-6 col-md-6">
        <div class="d-flex gap-5">
        <div class="flex-grow-1">
            <div class="form-group mb-3">
            <label class="form-label" for="category_type_icon">
                <%= trans.cruds.CATEGORY_TYPE.fields.category_type_icon || "Category Type Icon" %>
            </label>
            <input
                class="form-control"
                id="category_type_icon"
                type="file"
                name="category_type_icon"
                accept="image/jpeg, image/jpg, image/png, image/gif"
                onchange="previewImage(this, 'category_type_icon_preview')"
            />
            </div>
        </div>
        <img 
            class="img-100" 
            id="category_type_icon_preview" 
            alt="Category Type Icon" 
            src="<%= category_type.category_type_icon?.file_path ? '/' + category_type.category_type_icon.file_path.replace('public/', '') : '/backend/images/dummy-image.jpg' %>"/>
        </div>
    </div>

    <!-- Description (English) -->
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label class="form-label" for="description_en">
          <%= trans.cruds.CATEGORY_TYPE.fields.description_en %>
        </label>
        <div class="input-group">
          <textarea class="form-control" name="description_en" id="description_en" rows="3"><%= category_type?.description?.en || '' %></textarea>
        </div>
      </div>
    </div>

    <!-- Description (Arabic) -->
    <div class="col-md-12">
      <div class="form-group mb-3">
        <label class="form-label" for="description_ar">
          <%= trans.cruds.CATEGORY_TYPE.fields.description_ar %>
        </label>
        <div class="input-group">
          <textarea class="form-control" name="description_ar" id="description_ar" rows="3"><%= category_type?.description?.ar || '' %></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
