<script>
let userInfo = <%- JSON.stringify(userInfo) %>;
$(document).ready(function() {
    const table = $('.categoriesTypeTable').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            url: `<%= '/admin/categories-type' %>`,
            type: 'GET',
            dataType: 'json',
            data: function(d) {
                
            }
        },
        columns: [
            { 
                data: null,
                render: function(data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            { 
                data: 'title', 
                render: function(data, type, row) {
                    return data ? data : `<%= trans.global.not_available %>`;
                }
            },
            {
                data: 'status',
                render: function(data, type, row) {
                    let statusClass = '';
                    let statusText = '';

                    switch (data) {
                    case 'active':
                        statusClass = 'bg-success';
                        statusText = 'Active';
                        break;
                    case 'inactive':
                        statusClass = 'bg-danger';
                        statusText = 'Inactive';
                        break;
                    default:
                        statusClass = 'bg-secondary';
                        statusText = 'Unknown';
                    }

                    <% if (userInfo.permissions.includes('category_type_status')) { %>
                        return `<div class="category-type-status cursor-pointer" data-id="${row.id}" data-status="${data}">
                                <span class="badge ${statusClass}">${statusText}</span>
                            </div>`;
                    <% } else { %>
                        return `<div class="">
                                <span class="badge ${statusClass}">${statusText}</span>
                            </div>`;
                    <% } %>
                }
            },
            { 
                data: 'createdAt',
                render: function(data) {
                    if (!data) return `<%= trans.global.not_available %>`;
                    return new Date(data).toLocaleString();
                }
            },
            {
                data: 'id',
                render: function(data) {
                    let html = '<div class="d-flex gap-1">';
                    <% if(userInfo.permissions.includes('edit_category_type')){ %>
                        html += `<a href="/admin/category-type/${data}/edit" class="btn btn-sm btn-primary btn-edit categoryUser">
                            <i class="fas fa-edit"></i>
                        </a>`;
                    <% } %>
                    <% if (userInfo.permissions.includes('view_category_type')) { %>
                        html += `<a href="/admin/category-type/${data}" class="btn btn-sm btn-info btn-view categoryUser">
                                    <i class="fas fa-eye"></i>
                                </a>`;
                    <% } %>
                    /* <% if(userInfo.permissions.includes('delete_category_type')){ %>
                        html += `<a href="javascript:;" class="btn btn-sm btn-danger btn-delete" data-id="${data}" onclick="confirmAction('delete', '/admin/category-type/${data}/delete', '/admin/categories-type', 'DELETE')">
                            <i class="fas fa-trash"></i>
                        </a>`;
                    <% } %> */
                    html += `</div>`;
                    return html;
                },
                orderable: false
            }
        ],
        responsive: true,
        lengthMenu: [10, 25, 50, 100],
        stateSave: false,
        order: [[3, 'desc']],
        language: languageConfig,
    });
    
    /* Form Validate For Save & Update */
    $("#categoryTypeForm").validate({
        rules: {
            title_en: {
                required: true,
                minlength: 1
            },
            title_ar: {
                required: true,
                minlength: 1
            },
        },
        messages: {
            title_en: {
                required: `<%= t(trans.validation.client_side_validate.required_message, {
                    attribute: trans.cruds.CATEGORY_TYPE.fields.title_en
                }) %>`,
                minlength: `<%= t(trans.validation.client_side_validate.min_length, {
                    attribute: trans.cruds.CATEGORY_TYPE.fields.title_en,
                    min: 1
                }) %>`,
            },
            title_ar: {
                required: `<%= t(trans.validation.client_side_validate.required_message, {
                    attribute: trans.cruds.CATEGORY_TYPE.fields.title_ar
                }) %>`,
                minlength: `<%= t(trans.validation.client_side_validate.min_length, {
                    attribute: trans.cruds.CATEGORY_TYPE.fields.title_ar,
                    min: 1
                }) %>`,
            },
        },
        errorElement: 'span',
        errorPlacement: function(error, element) {
            error.addClass('invalid-feedback');
            error.insertAfter(element);
        },
        highlight: function(element) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function(element) {
            $(element).removeClass('is-invalid');
        },
        submitHandler: function(form) {
            $(".page-loader").removeClass('d-none');
            const formData = new FormData(form);
            const url = $(form).attr("action");
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $(".page-loader").addClass('d-none');
                    if (response.status) {
                        showNotificationPopup(response.message, 'success', '/admin/categories-type');
                    } else {
                        showNotificationPopup(response.message, 'error');
                    }
                },
                error: function(xhr, status, error) {
                    $(".invalid-feedback").remove();
                    $(".page-loader").addClass('d-none');

                    const errors = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : {};
                    const message = xhr.responseJSON && xhr?.responseJSON?.message ? xhr?.responseJSON?.message : '';

                    if (errors && Object.keys(errors).length > 0) {
                        displayErrorMessage(errors);
                    } else if (message) {
                        showNotificationPopup(message, 'error');
                    } else {
                        showNotificationPopup(`<%= t(trans.messages.oops_something_went_wrong, {
                            attribute: trans.cruds.MODULE.CATEGORY_TYPE,
                        }) %>`, 'error');
                    }
                }
            });
        }
    });


    function displayErrorMessage(errors) {
        for (const field in errors) {
            let fieldElement = $(`input[name="${field}"], select[name="${field}"], textarea[name="${field}"]`);
            const fieldError = errors[field];
            const errorSpan = $("<span>").addClass("error invalid-feedback").text(fieldError);
            fieldElement.after(errorSpan);
            fieldElement.addClass('is-invalid');
        }
    }

    
    /*  */
    $(document).on('click', '.category-type-status', function(e) {
        e.preventDefault();
        $(".page-loader").removeClass('d-none');

        const $this = $(this);
        const categoryId = $this.data('id');
        const currentStatus = $this.data('status');
        const newStatus = currentStatus === 'active' ? 'inactive' : 'active';
        const url = `/admin/category-type/status-update/${categoryId}`;
        $.ajax({
            url: url,
            type: 'POST',
            data: { status: newStatus },
            success: function(response) {
                $(".page-loader").addClass('d-none');
                if (response.status) {
                    $this.data('status', newStatus);
                    const badge = $this.find('span.badge');
                    badge.text(newStatus.charAt(0).toUpperCase() + newStatus.slice(1));
                    if (newStatus === 'active') {
                        badge.removeClass('bg-danger bg-secondary').addClass('bg-success');
                    } else {
                        badge.removeClass('bg-success bg-secondary').addClass('bg-danger');
                    }
                    showNotificationPopup(response.message, 'success');
                } else {
                    showNotificationPopup(response.message, 'error');
                }
            },
            error: function(xhr, status, error) {
                $(".page-loader").addClass('d-none');
                console.error('Error updating status:', error);
                showNotificationPopup(`<%= t(trans.messages.oops_something_went_wrong, {
                    attribute: trans.cruds.MODULE.CATEGORY_TYPE,
                }) %>`, 'error');
            }
        });
    });

    /* Excel Import */
    $(document).on('click', '#btnImportCategoryType', function(e){
        e.preventDefault();
        $("#importCategoryTypeForm")[0].reset();
        $(".form-control").removeClass("is-invalid");
        $(".error").remove();
        $("#ImportCategoryTypeModal").modal('show');
    });

    $("#importCategoryTypeForm").validate({
        rules: {
            category_type_file: {
                required: true,
                fileExtension: ["xls", "xlsx", "csv"],
            },
        },
        messages: {
            category_type_file: {
                required: `<%= t(trans.validation.client_side_validate.select_required_message, {
                    attribute: trans.cruds.CATEGORY_TYPE.fields.category_type_file
                }) %>`,
                fileExtension: `<%= trans.validation.client_side_validate.invalid_file_selected +' .xls, .xlsx, .csv' %>`,
            },
        },
        errorElement: 'span',
        errorPlacement: function(error, element) {
            error.addClass('invalid-feedback');
            error.insertAfter(element);
        },
        highlight: function(element) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function(element) {
            $(element).removeClass('is-invalid');
        },
        submitHandler: function(form, event) {
            event.preventDefault();
            $(document).find('.submitBtn').prop('disabled', true);
            var formData = new FormData(form);
            const url = $(form).attr('action');
            $(".page-loader").removeClass('d-none');
            $.ajax({
                url: url,
                type: "POST",
                timeout: 300000,
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $(".page-loader").addClass('d-none');
                    $(document).find('.submitBtn').prop('disabled', false);
                    if (response.status) {
                        showNotificationPopup(response.message, 'success');
                        $("#ImportCategoryTypeModal").modal('hide');
                    } else {
                        showNotificationPopup(response.message, 'error');
                    }
                },
                error: function (xhr, status, error) {
                    $(".page-loader").addClass('d-none');
                    $(document).find('.submitBtn').prop('disabled', false);
                    const response = xhr?.responseJSON || {};
                    const errorMessage = `<%= t(trans.messages.oops_something_went_wrong, {
                        attribute: trans.cruds.MODULE.CATEGORY_TYPE,
                    }) %>`;
                    if(response){
                        showNotificationPopup(response.message || errorMessage, 'error');
                    }
                }
            });
        }
    });

    $.validator.addMethod("fileExtension", function(value, element, param) {
        if (this.optional(element)) {
            return true;
        }
        var ext = value.split('.').pop().toLowerCase();
        return $.inArray(ext, param) !== -1;
    }, `<%= trans.validation.client_side_validate.file_extension_required +' '+ '.xls, .xlsx, .csv' %>`);
});
</script>
<%- include('../common-scripts/file-preview') %>