<% title = trans.cruds.MODULE.ROLE + ' - ' + companyInfo.NAME %>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h2><%= trans.cruds.ROLE.title %></h2>
            </div>
            <div class="col-sm-6 col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<%= '/admin/dashboard' %>"><i class="iconly-Home icli svg-color"></i> <%= trans.global.home %></a></li>
                <li class="breadcrumb-item"><a href="<%= '/admin/roles' %>"><%= trans.cruds.ROLE.title %></a></li>
                <li class="breadcrumb-item active"><%= trans.global.list %></li>
              </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        
        <div class="card-header card-no-border d-flex justify-content-between align-items-center">
          <div class="">            
            <h3><%= trans.cruds.ROLE.heading.role_list %></h3>
            <!-- <p class="desc mb-0 mt-1"><%= trans.cruds.ROLE.heading.all_the_role_list %></p> -->
          </div>
          <% if (userInfo.permissions.includes("create_role")) { %>
            <div class="btn-showcase d-flex justify-content-end">
                <a href="/admin/role/create" class="btn btn-pill btn-success" id="btnAddRole" title="<%= trans.global.create %>"><%= trans.global.create %></a>
            </div>
          <% } %>
      </div>
        <div class="card-body pt-0"> 
          <div class="table-responsive theme-scrollbar">
            <table class="table table-lg display rolesTable" id=" row_create" style="width:100%">
              <thead>
                  <tr>
                    <!-- <th><%= trans.cruds.ROLE.fields.s_no %></th> -->
                    <th>#</th>
                    <th data-data="name"><%= trans.cruds.ROLE.fields.title %></th>
                    <th data-data="createdAt"><%= trans.cruds.ROLE.fields.createdAt %></th>
                    <% if (userInfo.permissions.includes("view_role") || userInfo.permissions.includes("edit_role") || userInfo.permissions.includes("delete_role")) { %>
                      <th data-data="action"><%= trans.cruds.ROLE.fields.action %></th>
                    <% } else { %>
                      <th></th>
                    <% } %>
                  </tr>
              </thead>
              <tbody>
                  <!-- Data will be loaded via AJAX -->
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./script') %>