<div class="checkbox-atr attribute-checkbox-data" data-type="checkbox">
    <div class="checkbox-options-wrapper selected-data mb-4" data-type="checkbox" style="display: none;">
        <div class="row">
            <div class="col-12 col-md-7 checkbox-clone-wrap checkbox-form">
                <div class="previwe-btn-box preview-list" data-type="checkbox">
                    <a href="javascript:;" class="btn btn-info btn-view perviewtextWithLabel" id="perviewtextWithLabel" title="<%= trans.global.preview %>">
                        <i class="fas fa-eye"></i>
                    </a>
                </div>

                <div class="lang-card-box mb-3">
                    <div class="title-box">
                        <h3 class="mt-0"><%= trans.global.label %></h3>
                    </div>
                    <div class="lang-form-input-group align-box-wrap" data-type="checkbox">
                        <div class="row w-100">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="label_en"
                                        id="checkbox_label_en"
                                        value="<%= attribute?.label?.en || '' %>"
                                        placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.english +')' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="label_ar"
                                        id="checkbox_label_ar"
                                        value="<%= attribute?.label?.ar || '' %>"
                                        placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.arabic +')' %>"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (attribute && attribute.options && attribute.options.length > 0 && (attribute.type == 'checkbox')) { %>
                    <% attribute.options.forEach(function(option, index) {
                        const count = index + 1;
                        const isLast = index === attribute.options.length - 1;
                        const optionEn = option.value?.en || '';
                        const optionAr = option.value?.ar || '';
                    %>

                    <div class="option-box mb-4" data-count="<%= count %>">
                        <div class="lang-card-box">
                            <div class="title-box">
                                <h3 class="mt-0"><%= trans.global.option + ' ' + count %></h3>
                            </div>
                            <div class="lang-form-input-group">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_en[]" 
                                                id="checkbox_option_en_<%= count %>"
                                                value="<%= optionEn %>"
                                                placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.english + ')' %>" 
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_ar[]"
                                                id="checkbox_option_ar_<%= count %>"
                                                value="<%= optionAr %>"
                                                placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.arabic + ')' %>" 
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-group">
                            <% if (attribute.options.length > 1) { %>
                                <button type="button" class="action-btn remove-btn btn btn-secondary" data-type="checkbox">−</button>
                            <% } %>
                            <button type="button" class="action-btn add-btn btn btn-primary <%= isLast ? '' : 'hidebtn' %>" data-type="checkbox">＋</button>
                        </div>
                    </div>
                    <% }) %>
                <% }else{ %>
                    <div class="option-box mb-4" data-count="1">
                        <div class="lang-card-box">
                            <div class="title-box">
                                <h3 class="mt-0"><%= trans.global.option +' 1' %></h3>
                            </div>
                            <div class="lang-form-input-group">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_en[]" 
                                                id="checkbox_option_en_1"
                                                placeholder="<%= trans.global.enter_your +' '+ trans.global.option +' ('+ trans.global.english +')' %>" 
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_ar[]"
                                                id="checkbox_option_ar_1"
                                                value=""
                                                placeholder="<%= trans.global.enter_your +' '+ trans.global.option +' ('+ trans.global.arabic +')' %>" 
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-group">
                            <button type="button" class="btn btn-primary add-btn" data-type="checkbox">＋</button>
                        </div>
                    </div>
                <% } %>
            </div>

            <div class="col-12 col-md-5 position-relative">
                <div class="preview-data preview-text-data" data-type="checkbox" style="display: none;">
                    <fieldset>
                        <legend><%= trans.global.preview %></legend>
                        <div class="mb-4">
                            <div class="lang-card-box">
                                <div class="lang-form-input-group">
                                    <div class="row w-100">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <div class="lang-title-box"><%= trans.global.english %></div>
                                                <!-- <h4 class="my-3">What is your favorite social media?</h4>

                                                <div class="form-check w-fit">
                                                    <input class="form-check-input" id="checkboxoption-age1" type="checkbox" name="checkboxoption">
                                                    <label class="form-check-label" for="checkboxoption-age1">Instagram</label>
                                                </div>
                                                <div class="form-check w-fit">
                                                    <input class="form-check-input" id="checkboxoption-age2" type="checkbox" name="checkboxoption" checked="">
                                                    <label class="form-check-label" for="checkboxoption-age2">Facebook</label>
                                                </div>
                                                <div class="form-check w-fit">
                                                    <input class="form-check-input" id="checkboxoption-age3" type="checkbox" name="checkboxoption" checked="">
                                                    <label class="form-check-label" for="checkboxoption-age3">Whatsapp</label>
                                                </div>
                                                <div class="form-check w-fit">
                                                    <input class="form-check-input" id="checkboxoption-age4" type="checkbox" name="checkboxoption" checked="">
                                                    <label class="form-check-label" for="checkboxoption-age4">Twitter</label>
                                                </div> -->
                                                <h4 class="my-3 label-en-checkbox"></h4>
                                                <div class="options-en-checkbox"></div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <div class="lang-title-box"><%= trans.global.arabic %></div>
                                                <div class="listing-ar-content">
                                                    <!-- <h4 class="my-3">ما هي وسائل التواصل الاجتماعي المفضلة لديك؟</h4>

                                                    <div class="form-check w-fit">
                                                        <input class="form-check-input" id="checkboxoption-ar-1" type="checkbox" name="checkboxoption-ar">
                                                        <label class="form-check-label" for="checkboxoption-ar-1">إنستغرام</label>
                                                    </div>
                                                    <div class="form-check w-fit">
                                                        <input class="form-check-input" id="checkboxoption-ar-2" type="checkbox" name="checkboxoption-ar" checked="">
                                                        <label class="form-check-label" for="checkboxoption-ar-2">فيسبوك</label>
                                                    </div>
                                                    <div class="form-check w-fit">
                                                        <input class="form-check-input" id="checkboxoption-ar-3" type="checkbox" name="checkboxoption-ar" checked="">
                                                        <label class="form-check-label" for="checkboxoption-ar-3">واتساب</label>
                                                    </div>
                                                    <div class="form-check w-fit">
                                                        <input class="form-check-input" id="checkboxoption-ar-4" type="checkbox" name="checkboxoption-ar" checked="">
                                                        <label class="form-check-label" for="checkboxoption-ar-4">تغريد</label>
                                                    </div> -->
                                                    <h4 class="my-3 label-ar-checkbox"></h4>
                                                    <div class="options-ar-checkbox"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
