<div class="selected-data mb-4 attribute-singleimageuploader-data" data-type="singleimageuploader" style="display: none;">
    <div class="row">
        <div class="col-12 col-md-7 singleimageuploader-form">
            <!-- Preview Button -->
            <div class="previwe-btn-box preview-list" data-type="singleimageuploader">
                <a href="javascript:;" class="btn btn-info btn-view perviewtextWithLabel" id="perviewtextWithLabel" title="<%= trans.global.preview %>">
                    <i class="fas fa-eye"></i>
                </a>
            </div>
            <div class="lang-card-box mb-3">
                <div class="title-box">
                    <h3 class="mt-0">
                        <%= trans.global.label %>
                    </h3>
                </div>
                <div class="lang-form-input-group">
                    <div class="row w-100">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                            <input
                                class="form-control"
                                type="text"
                                name="label_en"
                                id="singleimageuploader_label_en"
                                value="<%= attribute?.label?.en || '' %>"
                                placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.english +')' %>"
                            />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                            <input
                                class="form-control"
                                type="text"
                                name="label_ar"
                                id="singleimageuploader_label_ar"
                                value="<%= attribute?.label?.ar || '' %>"
                                placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.arabic +')' %>"
                            />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="preview-data preview-text-data" data-type="singleimageuploader" style="display: none;">
                <fieldset>
                    <legend><%= trans.global.preview %></legend>
                    <div class="mb-4">
                        <div class="lang-card-box">
                            <div class="lang-form-input-group">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <div class="lang-title-box">
                                                <%= trans.global.english %>
                                            </div>
                                        
                                            <label class="form-label text-left label_en" for="singleimageuploader_value_attribute_en">

                                            </label>
                                            <input class="form-control formFileRadioImage" id="formFile" type="file" name="profile" accept="image/jpeg, image/jpg, image/png, image/gif" onchange="previewImage(this, 'imagePreview-option-single')" aria-invalid="false">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <div class="lang-title-box">
                                                <%= trans.global.arabic %>
                                            </div>
                                        
                                            <label class="form-label text-left label_ar" for="singleimageuploader_value_attribute_ar"></label>
                                            <input class="form-control formFileRadioImage" id="formFile" type="file" name="profile" accept="image/jpeg, image/jpg, image/png, image/gif" onchange="previewImage(this, 'imagePreview-option-single')" aria-invalid="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>