<div class="singleselectdropdownwithsearch-atr attribute-singleselectdropdownwithsearch-data" data-type="singleselectdropdownwithsearch">
    <div class="selected-data singleselectdropdownwithsearch-options-wrapper mb-4" data-type="singleselectdropdownwithsearch" style="display: none;">
        <div class="row">
            <div class="col-12 col-md-7 singleselectdropdownwithsearch-clone-wrap singleselectdropdownwithsearch-form">
                <div class="previwe-btn-box preview-list" data-type="singleselectdropdownwithsearch">
                    <a href="javascript:;" class="btn btn-info btn-view perviewtextWithLabel" id="perviewtextWithLabel" title="<%= trans.global.preview %>">
                        <i class="fas fa-eye"></i>
                    </a>
                </div>
                <div class="lang-card-box mb-3">
                    <div class="title-box">
                        <h3 class="mt-0">
                            <%= trans.global.label %>
                        </h3>
                    </div>
                    <div class="lang-form-input-group align-box-wrap" data-type="singleselectdropdownwithsearch">
                        <div class="row w-100">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="label_en"
                                        id="singleselectdropdownwithsearch_label_en"
                                        value="<%= attribute?.label?.en || '' %>"
                                        placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.english +')' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="label_ar"
                                        id="singleselectdropdownwithsearch_label_ar"
                                        value="<%= attribute?.label?.ar || '' %>"
                                        placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.arabic +')' %>"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (attribute && attribute.options && attribute.options.length > 0 && (attribute.type == 'singleselectdropdownwithsearch')) { %>
                    <% attribute.options.forEach(function(option, index) { 
                        const count = index + 1;
                        const optionValueEn = option.value.en || '';
                        const optionValueAr = option.value.ar || '';
                        const isLast = index === attribute.options.length - 1;
                    %>
                        <div class="option-box mb-4" data-count="<%= count %>">
                            <div class="lang-card-box">
                                <div class="title-box">
                                    <h3 class="mt-0"><%= trans.global.option + ' ' + count %></h3>
                                </div>
                                <div class="lang-form-input-group">
                                    <div class="row w-100">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input 
                                                    class="form-control" 
                                                    type="text" 
                                                    name="option_en[]" 
                                                    id="singleselectdropdownwithsearch_option_en_<%= count %>"
                                                    value="<%= optionValueEn %>" 
                                                    placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.english + ')' %>" 
                                                />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input 
                                                    class="form-control" 
                                                    type="text" 
                                                    name="option_ar[]"
                                                    id="singleselectdropdownwithsearch_option_ar_<%= count %>"
                                                    value="<%= optionValueAr %>"
                                                    placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.arabic + ')' %>" 
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action-group">
                                <% if (attribute.options.length > 1) { %>
                                    <button type="button" class="action-btn remove-btn btn btn-secondary" data-type="singleselectdropdownwithsearch">−</button>
                                <% } %>
                                    <button type="button" class="action-btn add-btn btn btn-primary <%= isLast ? '' : 'hidebtn' %>" data-type="singleselectdropdownwithsearch">＋</button>
                            </div>
                        </div>
                    <% }) %>
                <% }else{ %>    
                    <div class="option-box mb-4" data-count="1">
                        <div class="lang-card-box">
                            <div class="title-box">
                                <h3 class="mt-0"><%= trans.global.option +' 1' %></h3>
                            </div>
                            <div class="lang-form-input-group">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_en[]" 
                                                id="singleselectdropdownwithsearch_option_en_1"
                                                value=""
                                                placeholder="<%= trans.global.enter_your +' '+ trans.global.option +' ('+ trans.global.english +')' %>" 
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_ar[]"
                                                id="singleselectdropdownwithsearch_option_ar_1"
                                                value=""
                                                placeholder="<%= trans.global.enter_your +' '+ trans.global.option +' ('+ trans.global.arabic +')' %>" 
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-group">
                            <button type="button" class="btn btn-primary add-btn" data-type="singleselectdropdownwithsearch">＋</button>
                        </div>
                    </div>
                <% } %>
            </div>
        <div class="col-12 col-md-5">
            <div class="preview-data preview-text-data" data-type="singleselectdropdownwithsearch" style="display: none;">
                <fieldset>
                    <legend><%= trans.global.preview %></legend>
                    <div class="mb-4">
                        <div class="lang-card-box">
                            <div class="lang-form-input-group">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <div class="lang-title-box">
                                                <%= trans.global.english %>
                                            </div>
                                            
                                            <label class="form-label text-left" for="singleselectdropdownwithsearch_value_attribute_en"></label>
                                            <select class="form-select select2" id="singleselectdropdownwithsearch_value_attribute_en" name="singleselectdropdownwithsearch_value_en">

                                            </select>                 
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <div class="lang-title-box">
                                                <%= trans.global.arabic %>
                                            </div>
                                            
                                            <label class="form-label text-left" for="singleselectdropdownwithsearch_value_attribute_ar"></label>
                                            <select class="form-select select2" id="singleselectdropdownwithsearch_value_attribute_ar" name="singleselectdropdownwithsearch_value_ar">
                                                
                                            </select> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    </div>
</div>