<div class="toggleswitchtitleinput-atr attribute-toggleswitchtitleinput-data" data-type="toggleswitchtitleinput">
    <div class="toggleswitchtitleinput-options-wrapper selected-data mb-4" data-type="toggleswitchtitleinput" style="display: none;">
        <div class="row">
            <div class="col-12 col-md-7 toggleswitchtitleinput-clone-wrap toggleswitchtitleinput-form">
                <div class="previwe-btn-box preview-list" data-type="toggleswitchtitleinput">
                    <a href="javascript:;" class="btn btn-info btn-view perviewtextWithLabel" id="perviewtextWithLabel" title="<%= trans.global.preview %>">
                        <i class="fas fa-eye"></i>
                    </a>
                </div>
                <div class="lang-card-box mb-3">
                    <div class="title-box">
                        <h3 class="mt-0">
                            <%= trans.global.label %>
                        </h3>
                    </div>
                    <div class="lang-form-input-group align-box-wrap" data-type="toggleswitchtitleinput">
                        <div class="row w-100">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="label_en"
                                        id="toggleswitchtitleinput_label_en"
                                        value="<%= attribute?.label?.en || '' %>"
                                        placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.english +')' %>"
                                    />
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        type="text"
                                        name="label_ar"
                                        id="toggleswitchtitleinput_label_ar"
                                        value="<%= attribute?.label?.ar || '' %>"
                                        placeholder="<%= trans.global.enter_your +' '+ trans.global.label +' ('+ trans.global.arabic +')' %>"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% if (attribute && attribute.options && attribute.options.length > 0 && (attribute.type == 'toggleswitchtitleinput')) { %>
                    <% attribute.options.forEach(function(option, index) {
                        const count = index + 1;
                        const isLast = index === attribute.options.length - 1;
                    %>
                        <div class="option-box mb-4" data-count="<%= count %>">
                            <div class="lang-card-box">
                                <div class="title-box">
                                    <h3 class="mt-0"><%= trans.global.option + ' ' + count %></h3>
                                </div>
                                <div class="lang-form-input-group">
                                    <div class="row w-100">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_en[]" 
                                                id="toggleswitchtitleinput_option_en_<%= count %>" 
                                                value="<%= option.value.en %>" 
                                                placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.english + ')' %>" 
                                                />
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_ar[]" 
                                                id="toggleswitchtitleinput_option_ar_<%= count %>" 
                                                value="<%= option.value.ar %>" 
                                                placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.arabic + ')' %>" 
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action-group">
                                <% if (attribute.options.length > 1) { %>
                                    <button type="button" class="action-btn remove-btn btn btn-secondary" data-type="toggleswitchtitleinput">−</button>
                                <% } %>
                                    <button type="button" class="action-btn add-btn btn btn-primary <%= isLast ? '' : 'hidebtn' %>" data-type="toggleswitchtitleinput">＋</button>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <!-- Fallback: One blank option -->
                    <div class="option-box mb-4" data-count="1">
                        <div class="lang-card-box">
                            <div class="title-box">
                                <h3 class="mt-0"><%= trans.global.option + ' 1' %></h3>
                            </div>
                            <div class="lang-form-input-group">
                                <div class="row w-100">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_en[]" 
                                                id="toggleswitchtitleinput_option_en_1" 
                                                value="" 
                                                placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.english + ')' %>" 
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input 
                                                class="form-control" 
                                                type="text" 
                                                name="option_ar[]" 
                                                id="toggleswitchtitleinput_option_ar_1" 
                                                value="" 
                                                placeholder="<%= trans.global.enter_your + ' ' + trans.global.option + ' (' + trans.global.arabic + ')' %>" 
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-group">
                            <button type="button" class="action-btn add-btn btn btn-primary" data-type="toggleswitchtitleinput">＋</button>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="col-12 col-md-5">
                <div class="preview-data preview-text-data" data-type="toggleswitchtitleinput" style="display: none;">
                    <fieldset>
                        <legend><%= trans.global.preview %></legend>
                        <div class="mb-4">
                            <div class="lang-card-box">
                                <div class="lang-form-input-group">
                                    <div class="row w-100">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <div class="lang-title-box">
                                                    <%= trans.global.english %>
                                                </div>

                                                <!-- <h4 class="my-3">
                                                    Choose option
                                                </h4>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" role="switch" checked="">
                                                    <label class="form-check-label" for="flexSwitchCheckChecked">Your phone is in good condition</label>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <input class="form-control" type="text" id="" name="title_en" value="" placeholder="">
                                                </div> -->
                                                <h4 class="my-3 label-en-toggleswitchtitleinput"></h4>
                                                <div class="options-en-toggleswitchtitleinput"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <div class="lang-title-box">
                                                    <%= trans.global.arabic %>
                                                </div>
                                                <div class="listing-ar-content">
                                                    <!-- <h4 class="my-3">
                                                        اختر الخيار
                                                    </h4>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" role="switch" checked="">
                                                        <label class="form-check-label" for="flexSwitchCheckChecked">  هاتفك في حالة جيدة</label>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <input class="form-control" type="text" id="" name="title_en" value="" placeholder="">
                                                    </div> -->
                                                    <h4 class="my-3 label-ar-toggleswitchtitleinput"></h4>
                                                    <div class="options-ar-toggleswitchtitleinput"></div>
                                                </div>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>