<% title = trans.cruds.MODULE.TAG + ' - ' + companyInfo.NAME %>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h2><%= trans.cruds.TAG?.title %></h2>
            </div>
            <div class="col-sm-6 col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="<%= '/admin/dashboard' %>"><i class="iconly-Home icli svg-color"></i> <%= trans.global.home %></a></li>
                  <li class="breadcrumb-item"><a href="<%= '/admin/brands' %>"><%= trans.cruds.TAG?.title %></a></li>
                  <li class="breadcrumb-item active"><%= trans.global.list %></li>
                  <!-- <li class="breadcrumb-item active"><%= trans.cruds.TAG.heading.tag_list || 'tag_list' %></li> -->
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        
        <div class="card-header card-no-border d-flex justify-content-between align-items-center">
          <div class="">            
            <h3><%= trans.cruds.TAG.heading.tag_list || 'tag_list' %></h3>
            <!-- <p class="desc mb-0 mt-1"><%= trans.cruds.TAG.heading.all_the_tag_list || 'all_the_tag_list' %></p> -->
          </div>
          <% if (userInfo.permissions.includes("create_tag")) { %>
            <div class="btn-showcase d-flex justify-content-end">
                <a href="/admin/tag/create" title="<%= trans.cruds.TAG.heading.create_tag || 'create_tag' %>" class="btn btn-pill btn-success" id="btnAddTag">
                  <%= trans.cruds.TAG.heading.create_tag || 'create_tag' %>
                </a>
            </div>
          <% } %>
        </div>
        <div class="card-body pt-0"> 
          <div class="table-responsive theme-scrollbar">
            <table class="table table-lg display tagsTable" id=" row_create" style="width:100%">
              <thead>
                  <tr>
                    <!-- <th><%= trans.cruds.TAG.fields.s_no %></th> -->
                    <th>#</th>
                    <th data-data="title"><%= trans.cruds.TAG.fields.title %></th>
                    <th data-data="status"><%= trans.cruds.TAG.fields.status %></th>
                    <th data-data="createdAt"><%= trans.cruds.TAG.fields.createdAt %></th>
                    <% if (userInfo.permissions.includes("view_tag") || userInfo.permissions.includes("edit_tag") || userInfo.permissions.includes("delete_tag")) { %>
                      <th data-data="action"><%= trans.cruds.TAG.fields.action %></th>
                    <% } else { %>
                      <th></th>
                    <% } %>
                  </tr>
              </thead>
              <tbody>
                  <!-- Data will be loaded via AJAX -->
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./script') %>