<script>
$(document).ready(function() {
    const errorOopsMessage = <%- JSON.stringify(t(trans.messages.oops_something_went_wrong, {
        attribute: trans.cruds.MODULE.TAG,
    })) %>;

    const lang = `<%= lang %>`;


    const table = $('.tagsTable').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            url: `<%= '/admin/tags' %>`,
            type: 'GET',
            dataType: 'json',
            data: function(d) {
                
            }
        },
        columns: [
            { 
                data: null,
                render: function(data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            { 
                data: 'title', 
                render: function(data, type, row) {
                    if (data && data.split(' ').length > 30) {
                        return data.split(' ').slice(0, 10).join(' ') + '...';
                    }
                    return data ? data : `<%= trans.global.not_available %>`;
                }
            },
            {
                data: 'status',
                render: function(data, type, row) {
                    let statusClass = '';
                    let statusText = '';
                    let statusToggleAction = '';

                    switch (data) {
                        case 'active':
                            statusClass = 'bg-success';
                            statusText = 'Active';
                            statusToggleAction = 'inactive';
                            break;
                        case 'inactive':
                            statusClass = 'bg-danger';
                            statusText = 'Inactive';
                            statusToggleAction = 'archived';
                            break;
                        case 'archived':
                            statusClass = 'bg-secondary';
                            statusText = 'Archived';
                            statusToggleAction = 'active';
                            break;
                        default:
                            statusClass = 'bg-secondary';
                            statusText = 'Unknown';
                    }

                    <% if (userInfo.permissions.includes('tag_status')) { %>
                        return `<div class="tag-status cursor-pointer" data-id="${row.id}" data-status="${data}">
                                <span class="badge ${statusClass}">${statusText}</span>
                            </div>`;
                    <% } else { %>
                        return `<div class="">
                                <span class="badge ${statusClass}">${statusText}</span>
                            </div>`;
                    <% } %>
                },
            },
            { 
                data: 'createdAt',
                render: function(data) {
                    if (!data) return `<%= trans.global.not_available %>`;
                    return new Date(data).toLocaleDateString(`${lang}`);
                }
            },
            {
                data: 'id',
                render: function(data) {
                    let html = '<div class="d-flex gap-1">';
                    <% if (userInfo.permissions.includes('view_tag')) { %>
                        html += `<a href="/admin/tag/${data}" class="btn btn-sm btn-info btn-view tagUser">
                                    <i class="fas fa-eye"></i>
                                </a>`;
                    <% } %>
                    <% if(userInfo.permissions.includes('edit_tag')){ %>
                        html += `<a href="/admin/tag/${data}/edit" class="btn btn-sm btn-primary btn-edit tagUser">
                            <i class="fas fa-edit"></i>
                        </a>`;
                    <% } %>
                    <% if(userInfo.permissions.includes('delete_tag')){ %>
                        html += `<a href="javascript:;" class="btn btn-sm btn-danger btn-delete" data-id="${data}" onclick="confirmAction('delete', '/admin/tag/${data}/delete', '/admin/tags', 'DELETE')">
                            <i class="fas fa-trash"></i>
                        </a>`;
                    <% } %>
                    html += `</div>`;
                    return html;
                },
                orderable: false
            }
        ],
        responsive: true,
        lengthMenu: [10, 25, 50, 100],
        stateSave: false,
        order: [[3, 'desc']],
        language: languageConfig,
    });

    /* let editorEn = null;
    let editorAr = null;

    var editor1cfg = {}
	editor1cfg.toolbar = "mytoolbar";
	editor1cfg.toolbar_mytoolbar = "{bold,italic}|{fontname,fontsize}|{forecolor,backcolor}|removeformat"
        + "#{undo,redo,fullscreenenter,fullscreenexit,togglemore}";

    if (document.querySelector('.description_editor')) {
        editorEn = new RichTextEditor(".description_editor", editor1cfg);
    }

    if (document.querySelector('.description_editor1')) {
        editorAr = new RichTextEditor(".description_editor1", editor1cfg);
    } */
    /* Form Validate For Save & Update */
    $("#tagData").validate({
        rules: {
            title_en: {
                required: true,
                minlength: 3,
            },
            title_ar: {
                required: true,
                minlength: 3,
            },
            metaTitle: {
                maxlength: 60,
            },
            metaDescription: {
                maxlength: 160,
            },
            priority: {
                min: 0,
                max: 100,
            }
        },
        messages: {
            title_en: {
                required: `<%= t(trans.validation.client_side_validate.required_message, {
                    attribute: trans.cruds.BRAND.fields.title_en
                }) %>`,
                minlength: `<%= t(trans.validation.client_side_validate.min_length, {
                    attribute: trans.cruds.BRAND.fields.title_en,
                    min: 3
                }) %>`,
            },
            title_ar: {
                required: `<%= t(trans.validation.client_side_validate.required_message, {
                    attribute: trans.cruds.BRAND.fields.title_ar
                }) %>`,
                minlength: `<%= t(trans.validation.client_side_validate.min_length, {
                    attribute: trans.cruds.BRAND.fields.title_ar,
                    min: 3
                }) %>`,
            },
            metaTitle: {
                maxlength: `<%= t(trans.validation.client_side_validate.max_length, {
                    attribute: trans.cruds.TAG.fields.metaTitle,
                    max: 60
                }) %>`
            },
            metaDescription: {
                maxlength: `<%= t(trans.validation.client_side_validate.max_length, {
                    attribute: trans.cruds.TAG.fields.metaDescription,
                    max: 160
                }) %>`,
            },
            priority: {
                min: `<%= t(trans.validation.client_side_validate.min_value, {
                    attribute: trans.cruds.TAG.fields.priority,
                    min: 0
                }) %>`,
                max: `<%= t(trans.validation.client_side_validate.max_value, {
                    attribute: trans.cruds.TAG.fields.priority,
                    max: 100
                }) %>`,
            }
        },
        errorElement: 'span',
        errorPlacement: function(error, element) {
            error.addClass('invalid-feedback');
            error.insertAfter(element);
        },
        highlight: function(element) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function(element) {
            $(element).removeClass('is-invalid');
        },
        submitHandler: function(form) {
            $(".page-loader").removeClass('d-none');            
            const formData = new FormData(form);
            formData.append('tagType', 'product');
            formData.append('status', 'active');
            const url = $(form).attr("action");
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    $(".page-loader").addClass('d-none');
                    if (response.status) {
                        showNotificationPopup(response.message, 'success', '/admin/tags');
                    } else {
                        showNotificationPopup(response.message, 'error');
                    }
                },
                error: function(xhr, status, error) {
                    $(".invalid-feedback").remove();
                    $(".page-loader").addClass('d-none');

                    const errors = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : {};
                    const message = xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : '';

                    if (errors && Object.keys(errors).length > 0) {
                        displayErrorMessage(errors);
                    } else if (message) {
                        showNotificationPopup(message, 'error');
                    } else {
                        showNotificationPopup(errorOopsMessage, 'error');
                    }
                }
            });
        }
    });

    function displayErrorMessage(errors) {
        for (const field in errors) {
            let fieldElement = $(`input[name="${field}"], select[name="${field}"], textarea[name="${field}"]`);
            const fieldError = errors[field];
            const errorSpan = $("<span>").addClass("error invalid-feedback").text(fieldError);
            fieldElement.after(errorSpan);
            fieldElement.addClass('is-invalid');
        }
    }

    /*  */
    $(document).on('click', '.tag-status', function(e) {
        e.preventDefault();
        $(".page-loader").removeClass('d-none');

        const $this = $(this);
        const tagId = $this.data('id');
        const currentStatus = $this.data('status');
        const newStatus = currentStatus === 'active' ? 'inactive' : 'active';
        const url = `/admin/tag/status-update/${tagId}`;
        $.ajax({
            url: url,
            type: 'POST',
            data: { status: newStatus },
            success: function(response) {
                $(".page-loader").addClass('d-none');
                if (response.status) {
                    $('.tagsTable').DataTable().ajax.reload(null, false);
                    showNotificationPopup(response.message, 'success');
                } else {
                    showNotificationPopup(response.message, 'error');
                }
            },
            error: function(xhr, status, error) {
                $(".page-loader").addClass('d-none');
                console.error('Error updating status:', error);
                showNotificationPopup(errorOopsMessage, 'error');
            }
        });
    });
});
</script>
<%- include('../common-scripts/file-preview') %>